/application/application-content/target/
/application/application-vocabulary/target/
/boot/target/
/common/target/
/domain/domain-content/target/
/domain/domain-content-api/target/
/domain/domain-vocabulary/target/
/infrastructure/infrastructure-db/target/
/infrastructure/infrastructure-event/target/
/interfaces/interfaces-content/target/
/.idea/
/interfaces/interfaces-vocabulary/target/
/domain/domain-activity/target/
/infrastructure/infrastructure-activity/target/
/interfaces/interfaces-activity/target/
/frontend/node_modules/
/frontend/build
/uploads/
/infrastructure/infrastructure-file/
/interfaces/interfaces-practice/
/domain/domain-practice/
/application/application-practice/
